* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
    overflow-y: auto;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

img, iframe {
    vertical-align: middle;
}

img {
    max-width: 100%;
    height: auto;
}

svg {
    width: 25px;
    height: 25px;
    fill: #b9c1c6;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 18px;
    font-weight: normal;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}
